// colors
$color-white: #efefef;
$color-light-blue: #a1dcf0;
$color-blue: #7eaecd;
$color-gray: #384b52;
$color-black: #12252b;

// Proxima-Nova
$font-proxima: proxima-nova, sans-serif;
$font-proxima-normal: 500;
$font-proxima-bold: 700;
$font-proxima-extra-bold: 800;

// Serenity
$font-serenity: serenity, sans-serif;
$font-serenity-normal: 300;
$font-serenity-bold: 700;
