.sidebar {
    z-index: 1;
    background: linear-gradient(270deg, $color-gray, $color-black);
    & h1 {
        font-size: 1rem;
        letter-spacing: 0.1rem;
        padding-bottom: 0.5rem;
        border-bottom: 1px solid $color-light-blue;
        font-family: $font-proxima;
    }
    & h2 {
        font-size: 0.9rem;
    }
    & ul {
        & a {
            display: block;
            cursor: pointer;
            font-style: $font-serenity;
            color: $color-white;
            text-decoration: none;
            transition: all 0.5s;
            -webkit-transition: all 0.5s;
            -moz-transition: all 0.5s;
            -ms-transition: all 0.5s;
            -o-transition: all 0.5s;
        }
    }
}

.active {
    background-color: $color-white;
    font-weight: 700;
    color: $color-black !important;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}
