.viewport {
    img {
        height: 25vh;
        width: 100%;
    }
    &__title {
        & span {
            font-size: 0.8rem;
        }
    }
    &__skills {
        & li {
            width: fit-content;
            font-size: 0.8rem;
        }
    }
    &__links {
        width: 80%;
        margin: auto;
    }
}
