.viewport {
    & img {
        height: auto;
        width: 100%;
    }
    p {
        font-size: clamp(0.8rem, 1vw, 1rem);
    }
    &__title {
        & span {
            font-size: clamp(0.7rem, 1vw, 0.9rem);
        }
    }
    &__skills {
        & li {
            width: fit-content;
            font-size: clamp(0.6rem, 1vw, 0.8rem);
            z-index: 2;
        }
    }
    &__links {
        margin: auto;
        & a {
            font-size: clamp(0.7rem, 1vw, 0.8rem);
            white-space: nowrap;
        }
    }
}

.button {
    display: inline-block;
    background: $color-gray;
    color: $color-white;
    text-transform: uppercase;
    padding: 0.5vw 1vw;
    border-radius: 5px;
    box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    -webkit-transition: all ease-in-out 300ms;
    transition: all ease-in-out 300ms;
    -moz-transition: all ease-in-out 300ms;
    -ms-transition: all ease-in-out 300ms;
    -o-transition: all ease-in-out 300ms;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.button:hover {
    box-shadow: 0px 37px 20px -20px rgba(0, 0, 0, 0.2);
    -webkit-transform: translate(0px, -10px) scale(1.2);
    transform: translate(0px, -10px) scale(1.2);
    -moz-transform: translate(0px, -10px) scale(1.2);
    -ms-transform: translate(0px, -10px) scale(1.2);
    -o-transform: translate(0px, -10px) scale(1.2);
}

@media screen and (max-width: 767px) {
    .viewport {
        bottom: -22.5vh;
        transition: all 0.2s;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -ms-transition: all 0.2s;
        -o-transition: all 0.2s;
        height: fit-content;
        min-height: 25rem;
        transition: all 0.2s;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -ms-transition: all 0.2s;
        -o-transition: all 0.2s;
        &__button {
            background-color: $color-gray;
            border: none;
            border-bottom: 1px solid $color-light-blue;
            color: $color-light-blue;
        }
        &__image {
            height: 7rem;
            & img {
                height: 4.5rem;
                // width: 50%;
            }
        }
        &__title {
            white-space: nowrap;
        }
        &__description {
            height: 8rem;
        }
        &__grow {
            position: absolute;
            bottom: 0;
            transition: all 0.2s;
            -webkit-transition: all 0.2s;
            -moz-transition: all 0.2s;
            -ms-transition: all 0.2s;
            -o-transition: all 0.2s;
        }
    }
}
